*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: sans-serif;
}



body{ 
    min-height: 95vh;
   background: url(https://i.pinimg.com/originals/f8/89/17/f88917505face7f33046971a44e666c9.jpg) center/cover ;
    display: flex;
    justify-content: center;
    align-items: center;
  

}

main.table{
width: 120vw;
height: 89vh;
background-color: rgba(207, 172, 172, 0.501);
backdrop-filter: blur(8px);
box-shadow: 0 .5rem .8rem #0005;
border-radius: .8rem;

overflow: hidden;

}

.table_header{
    width: 100%;
    height: 7%;
  
    background-color: rgba(153, 176, 176, 0.375);
    padding: .8rem 1rem;
    text-align: center;
 
    

}
  

.table_body{
    width: 100%;
    max-height:calc(89% - 1.6rem);
    background-color: #fff5;
    margin: .8rem  auto;
    border-radius: .6rem;
    overflow: auto;
    
}




.table_body::-webkit-scrollbar
{
width: .5rem;
height: .5rem;

}



.table_body::-webkit-scrollbar-thumb
{
border-radius: .5rem;
background-color: rgba(57, 9, 67, 0.736);
visibility: visible;
}




.table_body:hover:-webkit-scrollbar-thumb
{
    visibility: visible;
}



table{
    width: 100%;
 

}



td img {
    vertical-align: middle;
    width: 50px;
    height: 50px;
    margin-right: 1rem;
    border-radius: 80%;
    vertical-align: middle;

    
}



table , th, td{
    
    border-collapse: collapse;
    padding: .4rem;
    text-align: center;


}


thead th{
    position: sticky;
    top: 0;
    left: 0;
    background-color: #d1cfd4fe;
}


tbody tr:nth-child(even)
{
    background-color: #b88eb63d;
}
tbody tr{
    background-color: rgba(195, 195, 214, 0.234);
}

tbody tr:hover{
    background-color: rgba(47, 254, 24, 0.4);
}

.pic p{
    width: 110px;
  text-wrap: nowrap;
overflow: hidden;



}
P{
    text-align:left;
}

.pic {
    
    display: flex;
    align-items: center;
    justify-content: start;
}




@media(max-width:250px)
{
    td:not(:first-of-type)
    {
        min-width: 15.1rem;
    }
}

